<template>
  <div class="about">
    <h1>This is an about page</h1>
    <Animated></Animated>
  </div>
</template>
<script>
import Animated from "@/components/Animate";
console.log(Animated)
export default {
  name: "About",
  components: {
    Animated,
  }
}
</script>
