<template>
  <div class="home">
    <Canvas msg="Welcome to Your Vue.js App"></Canvas>
    <RecordCanvas></RecordCanvas>
  </div>
</template>

<script>
// @ is an alias to /src
import Canvas from "@/components/Canvas.vue";
import RecordCanvas from "@/components/RecordCanvasTrack.vue";

export default {
  name: "Home",
  components: {
    Canvas,
    RecordCanvas
  }
};
</script>
<style scoped lang="scss">
.home {
}
</style>
