<template>
  <div class="animate">
    <div id="div1"></div>
    <div id="div2"></div>

    <button id="start">START</button>
    <button id="end">END</button>
    <button id="stop">STOP</button>
    <button id="reset">RESET</button>
  </div>
</template>
<script>
import Frameani from "../untils/animate/index";
export default {
  name: "Animate",
  data() {
    return {};
  },
  mounted() {
    const el = name => document.querySelector(name);
    const div1 = el("#div1");
    const div2 = el("#div2");

    const frameani = new Frameani({
      duration: 500,
      value: [0, 100],
      render: value => {
        div1.style.transform = `translateY(${value}px)`;
        div2.style.width = `${value + 100}px`;
      },
      timingFunction: "easeInSine"
    }).to({
      duration: 500,
      value: [100, 0],
      render: value => {
        div1.style.transform = `translateY(${value}px)`;
        div2.style.width = `${value + 100}px`;
      },
      timingFunction: "easeInSine"
    });
    //   .to({
    //     value: [0, 100],
    //     render: value => {
    //       div1.style.transform = `translateX(${value}px)`;
    //     }
    //   })
    //   .to({
    //     value: [0, 100],
    //     render: value => {
    //       div1.style.transform = `translate(${value}px, ${value}px)`;
    //     },
    //     onEnd: () => {
    //       console.log("吃屎啊你");
    //         const frameani2 = new Frameani({
    //           value: [0, 100],
    //           render: value => {
    //             div2.style.transform = `translate(${value}px, ${value}px)`;
    //           }
    //         });
    //         frameani2.play();
    //     }
    //   });

    console.log(frameani.getQueue());

    el("#start").onclick = () => frameani.play();
    el("#end").onclick = () => frameani.end();
    el("#stop").onclick = () => frameani.stop();
    el("#reset").onclick = () => frameani.reset();
  }
};
</script>
<style lang="scss" scoped>
#div1 {
  background: #333;
  width: 100px;
  height: 100px;
}

#div2 {
  background: deepskyblue;
  width: 100px;
  height: 100px;
}
/*div {
          width: 10px;
          height: 10px;
          background: red;
          position: absolute;
          left: 0;
          top: 0;
        }*/
button {
  margin: 10px;
  padding: 4px;
  border: 1px solid #444;
  background: #fff;
  color: #444;
  outline: none;
  cursor: pointer;
}
button:hover {
  color: #444;
  background: #ddd;
}
</style>
