<template>
  <div class="content">
    <div class="canvas">
      <canvas id="canvas"></canvas>
    </div>
    <button id="btn">去欸的那个</button>
  </div>
</template>

<script>
import ElementResize from "../untils/elementResizeClass";
export default {
  name: "Canvas",
  props: {
    msg: String
  },
  mounted() {
    this.initCanvas();
    // let dom = document.querySelector(".canvas");
    this.canvas = document.querySelector("#canvas");
    this.ctx = this.canvas.getContext("2d");
    this.addWindowResize();
    // 添加监听
    let btn = document.querySelector("#btn");
    btn.onclick = () => {
      // canvas.style.width = canvas.width - index + "px";
      // canvas.style.width = 500 + "px";
      // index+=1
      // 设置canvas 的style.width 会对 canvas 进行等比缩放，其中内容不会重绘制，内容可能被拉伸
      // 设置canvas 的 width 会对 canvas 大小重设，内容清空
      let data = this.ctx.getImageData(
        0,
        0,
        this.canvas.width,
        this.canvas.height
      );
      this.canvas.width = this.canvas.width / 2;
      this.restoreCanvas(data);
    };
  },
  beforeDestroy() {
    if (this.eleResize) {
      this.eleResize.unBindEvent(e => {
        console.log(e);
      });
    }
  },
  methods: {
    initCanvas() {
      var canvas = document.getElementById("canvas");
      canvas.width = document.querySelector(".canvas").clientWidth;
      canvas.height = document.querySelector(".canvas").clientHeight;
      var ctx = canvas.getContext("2d");
      let img = document.createElement("img");
      img.src = require("../assets/logo.png");
      if (img.complete) {
        ctx.drawImage(img, 0, 0, 100, 100);
      } else {
        img.onload = () => {
          ctx.drawImage(img, 0, 0, 100, 100);
        };
      }
    },
    addWindowResize() {
      this.eleResize = new ElementResize(".canvas");
      this.eleResize.listen((w, h) => {
        let data = this.ctx.getImageData(
          0,
          0,
          this.canvas.width,
          this.canvas.height
        );
        this.canvas.width = w;
        this.canvas.height = h;
        this.restoreCanvas(data);
      });
    },
    restoreCanvas(data) {
      this.ctx.putImageData(data, 0, 0);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.canvas {
  width: inherit;
  height: inherit;
  // min-height: 500px;
  #canvas {
    background: skyblue;
    vertical-align: top;
    // display: block;
    // margin-bottom: 4px;
    // inline 元素会有一个错位，是因为浏览器把它作为一行字来看
    // 因此解决办法也很简单，负边距消除，或者改变 display 设定 或 vertical-align 顶部对齐都可以
    // img 3px  canvas 4px svg 4px
  }
}
</style>
