<template>
  <div class="pen">
    <canvas id="canvas"></canvas>
  </div>
</template>
<script>
import WrappedCanvas from "../untils/WrappedCanvas";
export default {
  data() {},
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.canvas = new WrappedCanvas(document.querySelector("#canvas"));
    }
  }
};
</script>
<style scoped lang="scss">
.pen {
  .canvas {
    //
  }
}
</style>
